{% extends 'base.html' %} {% block content %}

<!-- Jumbotron Search Start -->
<section class=" container-fluid text-center">
    <h1 class="display-1 pb-1 mb-1">{{heading}}</h1>

    <!-- <h1 class="display-1 text-center my-6">Oops, this page doesn't exist</h1> -->
    <div class="container-fluid">
        <img src="{{image}}">
    </div>
    <div class="container-fluid my-3">
        <a class="display-6 text-align-center text-dark text-decoration-none" href="/">Return Home</a>
    </div>

</section>

<!-- Jumbotron Search ./ End -->
{% endblock %}